* {
  box-sizing: border-box;
  margin: 0;
}

.header {
  min-height: 100px;
  display: flex;
  background-color: red;
}

.header__container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.christmascolortext {
  background-image: linear-gradient(to left, green, yellow, darkgreen, yellow, green, darkgreen);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.main {
  height: 80vh;
  background-color: #fc0;
}

.little-helper-container {
  display: flex;
  justify-content: space-around;
}

.little-helper {
  min-height: 30vh;
  min-width: 300px;
  border: 1px solid goldenrod;
  border-radius: 5px;
  margin-top: 15px;
  padding: 10px;
  background-color: honeydew;
}

.little-helper__textarea {
  min-width: 80%;
  min-height: 30%;
}
